@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
$bijela: white;
$tamnoPlava: #0A1E55;
$siva: #E6E6E6;
$tekstBoja: #606060;
$tekstVelicina: 18px;
$vibes-font: "Great Vibes", serif;
$sora-font: "Sora", serif;
$transition: .3s;
$padding: 100px 0;
