@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sora", serif;
}

ul,
ol {
  list-style: none;
  display: flex;
}

li {
  align-items: center;
}

.container {
  max-width: 1440px;
  width: 80%;
}

sup {
  color: #E7E7E7;
  top: -0.5em;
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/************** HEADER **************/
.mainHeader {
  background-image: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(0, 0, 0, 0.301) 100%), url(img/tim-van-der-kuip-CPs2X8JYmS8-unsplash.jpg);
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  background-origin: padding-box;
  opacity: 0.95;
  background-size: cover;
  height: 80vh;
}

.navBar {
  padding-top: 21px;
  justify-content: space-between;
  display: flex;
}

.navBar p {
  font-size: 36px;
  font-family: var(--sora-font);
  font-weight: 700;
  color: white;
}

.navBar ul li a {
  text-decoration: none;
  font-size: 20px;
  font-family: "Sora", serif;
  letter-spacing: 0px;
  color: white;
  opacity: 1;
  padding-left: 15px;
}

.naslov {
  margin-top: 40%;
}

.ime {
  width: 50%;
}

.ime h1 {
  font-size: 60px;
  color: black;
  font-weight: 600;
}

.naslov p {
  font-size: 30px;
  font-weight: 500;
  color: black;
}

.opis {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: -moz-fit-content;
  width: fit-content;
  width: 450px;
}

.opis .btn {
  border: 1px solid black;
  margin: 5px;
  border-radius: 50px;
  color: rgb(0, 0, 0);
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  box-sizing: content-box;
  height: 25px;
}

.opis .btn:hover {
  background-color: black;
  color: white;
}

.opis2 {
  margin-top: 30px;
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: right;
  align-items: flex-end;
}

.opis2 p {
  font-family: "Sora", serif;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.contact {
  display: flex;
  justify-content: space-between;
  overflow-wrap: break-word;
}

/*************************A B O U T  *************************/
.about {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  overflow: hidden;
  gap: 50px;
}

.aboutId {
  width: 25%;
  text-align: left;
  font-size: 38px;
  font-family: "Sora", serif;
  font-weight: 400;
  line-height: 3rem;
  padding-right: 5px;
}

.aboutText {
  width: 70%;
  font-size: 18px;
  font-family: "Sora", serif;
  color: #606060;
  line-height: 1.9;
}

/******************** LINIJA **********************************/
.linija {
  display: flex;
  margin: 40px 0;
}

.jedan {
  background-color: red;
  height: 2px;
  width: 35%;
}

.dva {
  background-color: #d8d6d6;
  height: 2px;
  width: 65%;
}

/************************* EXPERIENCE *****************************/
.tag {
  font-size: 18px;
  margin: 10px 0;
  line-height: 10px;
}

.aboutText h2 {
  color: black;
  font-family: "Sora", serif;
  font-size: 45px;
  font-weight: 700;
}

/************************ Featured Projects na glavnoj stranici ************************/
.project {
  text-align: center;
  justify-content: space-between;
}

.projectList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.projectA {
  width: 31%;
  background-color: white;
  align-items: center;
  text-align: center;
  line-height: normal;
  border: 2px solid grey;
}

.projectA img {
  width: 100%;
  height: 150px;
}

.projectB {
  width: 31%;
  background-color: white;
  align-items: center;
  text-align: center;
  line-height: normal;
  border: 2px solid grey;
}

.projectB img {
  width: 100%;
  height: 150px;
}

.projectC {
  width: 31%;
  background-color: white;
  align-items: center;
  text-align: center;
  line-height: normal;
  border: 2px solid grey;
}

.projectC img {
  width: 100%;
  height: 150px;
}

.projectTitle {
  height: 70px;
}

.projectText {
  width: 95%;
  margin: auto;
}

.project h4 {
  font-size: 22px;
  margin-top: 30px;
}

.project p {
  font-family: "Sora", serif;
  font-size: 15px;
}

/************************ Featured Projects stranica odvojena ************************/
.aboutText .sajt {
  width: 100%;
}

.aboutText .sajtNaslov {
  width: 100%;
  font-size: 32px;
  color: var(--tekstBoja);
  margin: 40px 0;
  text-align: left;
  justify-content: left;
  align-items: flex-start;
}

.sajtUl {
  display: block;
  line-height: 2px;
  font-weight: 600;
}

/************************* Skills & Tools **************************/
.liste {
  display: flex;
}

.aboutText .skillsListA {
  width: 55%;
}

.aboutText .skillsListB {
  width: 45%;
}

.aboutText .skillsListA .skillsUl {
  display: inline-block;
  list-style-type: square;
  line-height: normal;
}

.aboutText .skillsListB .skillsUl {
  display: inline-block;
  list-style-type: square;
  line-height: normal;
}

/******************************** Jezici *************************************/
.english {
  display: flex;
  width: 50%;
  align-items: center;
}

.ePrvi {
  background-color: rgb(88, 88, 88);
  height: 12px;
  width: 90%;
  margin-left: 34px;
  margin-bottom: 10px;
  border-radius: 25px 0px 0px 25px;
}

.eDrugi {
  background-color: rgb(228, 228, 228);
  height: 12px;
  width: 10%;
  margin-bottom: 10px;
  border-radius: 0px 25px 25px 0px;
}

.sPrvi {
  background-color: rgb(88, 88, 88);
  height: 12px;
  width: 100%;
  margin-left: 28px;
  margin-bottom: 10px;
  border-radius: 25px;
}

/************************** R E S P O N S I V E - MAX 600px  **************************/
@media (min-width: 250px) and (max-width: 600px) {
  .mainHeader {
    background-position: 60% 50%;
    height: 80vh;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /********* NAVBAR za mobilni ***********/
  .navBar {
    width: 90%;
  }
  .navBar p {
    font-size: 18px;
  }
  .navBar ul li a {
    font-size: 10px;
  }
  .naslov {
    width: 90%;
  }
  .ime {
    width: 80%;
  }
  .ime h1 {
    font-size: 24px;
  }
  .ime p {
    font-size: 18px;
  }
  .opis2 p {
    width: 100%;
    font-size: 10px;
    margin: 2px;
  }
  .opis {
    display: flex;
    flex-wrap: wrap;
    width: -moz-fit-content;
    width: fit-content;
    width: 70%;
  }
  .opis .btn {
    font-size: 12px;
  }
  /************* ABOUT ***************/
  .about {
    flex-direction: column;
    align-items: center;
  }
  .aboutId {
    width: 90%;
    font-size: 24px;
    text-align: center;
  }
  .aboutId p {
    line-height: normal;
  }
  .aboutText {
    align-items: center;
    width: 90%;
    font-size: 16px;
  }
  /******************** LINIJA *****************/
  .linija {
    flex-direction: row;
  }
  /*************** Expiriance mob *************/
  .aboutText h2 {
    font-size: 28px;
  }
  .aboutText .tag {
    line-height: normal;
  }
  /****************** FEATURED PROJECTS ***********/
  .projectList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .projectA {
    width: 100%;
  }
  .projectB {
    width: 100%;
    margin: 15px 0;
  }
  .projectC {
    width: 100%;
  }
  /******************** JEZICI ****************/
  .english {
    width: 100%;
  }
}
/************************** R E S P O N S I V E - 601 TO 900px  **************************/
@media (min-width: 601px) and (max-width: 991px) {
  .navBar p {
    font-size: 20px;
  }
  .navBar ul li a {
    font-size: 12px;
  }
  .opis {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: -moz-fit-content;
    width: fit-content;
    width: 70%;
    height: 15vh;
  }
  .opis .btn {
    font-size: 16px;
  }
  .ime h1 {
    font-size: 46px;
  }
  /************* ABOUT ***************/
  .about {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .aboutId {
    font-size: 26px;
    text-align: center;
    width: 70%;
  }
  .aboutId p {
    line-height: normal;
  }
  .aboutText {
    width: 90%;
    font-size: 18px;
  }
  /*************** Expiriance mob *************/
  .aboutText h2 {
    font-size: 28px;
  }
  .aboutText .tag {
    font-size: 14px;
    line-height: normal;
  }
  /****************** FEATURED PROJECTS ***********/
  .project {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .projectList {
    width: 70%;
  }
  .projectA {
    width: 100%;
  }
  .projectB {
    width: 100%;
    margin: 15px 0;
  }
  .projectC {
    width: 100%;
  }
  /******************** JEZICI ****************/
  .english {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */